.form {
    width: 238px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 698px) {
    .form {
        width: 358px;
        height: 161px;
    }
}