.profile__add-btn {
    margin-top: 36px;
    min-width: 282px;
    min-height: 50px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}

.profile__add-btn:hover {
    opacity: .8;
}
    
@media screen and (min-width: 1024px) {
    .profile__add-btn {
        margin-top: 0;
        min-width: 150px;
        min-height: 50px;
        justify-self: end;
    }
}