.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    max-width: 320px;
    min-height: 56px;
}

@media screen and (min-width: 698px) {
    .header {
        min-height: 74px;
        max-width: calc(698px - 50px*2);
    }
}

@media screen and (min-width: 1024px) {
    .header {
        max-width: calc(1280px - 200px*2);
    }
}