.profile__edit-btn {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid #fff;
}

@media screen and (min-width: 1024px) {
    .profile__edit-btn {
        margin-left: 18px;
        width: 24px;
        height: 24px;
    }
}