.profile__edit-btn {
    margin-left: 10px;
    min-width: 18px;
    min-height: 18px;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid #fff;
}

@media screen and (min-width: 1024px) {
    .profile__edit-btn {
        margin-left: 18px;
        min-width: 24px;
        min-height: 24px;
    }
}