.profile__name-edit-container {
    margin-top: 22.25px;
    min-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .profile__name-edit-container {
        margin: 0;
        justify-content: start;
    }
}
