@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
/* page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/page/__content/page__content.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__footer/page__footer.css);
/* section */
@import url(../blocks/section/section.css);
/* content */
@import url(../blocks/content/content.css);
@import url(../blocks/content/__section/content__section.css);
/* header */
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__image/logo__image.css);
@import url(../blocks/header/header.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-edit-container/profile__info-edit-container.css);
@import url(../blocks/profile/__name-edit-container/profile__name-edit-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
/* cards */
@import url(../blocks/cards/cards.css);
/* card */
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title-like-container/card__title-like-container.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__overlay/popup__overlay.css);
/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/form/form__container/form__container.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__save-btn/form__save-btn.css);
@import url(../blocks/form/__save-btn-text/form__save-btn-text.css);


