.form__save-btn-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: #fff;
}

@media screen and (min-width: 698px) {
    .form__save-btn-text {
        font-size: 18px;
        line-height: 1.22;
    }
}